body {
  justify-content: left;
  align-items: center;
  font-family: sans-serif;
  background-color: rgb(99, 95, 160);
  height: auto;
}

.table-box {
  width: 1260px;
  height: 350px;
  overflow-y: scroll;
  background-color: rgb(124, 137, 155);
  font-size: 14;
  box-shadow: 0 10px 100px rgba(0, 0, 0, 0.5);
  margin-top: 65px;
  margin-left: 10px;
}

.table-fixed > thead > tr {
  font-size: 12;
  font-weight: bold;
}
.table-fixed {
  width: 100%;
}

.table-box thead > tr {
  background-color: rgb(55, 102, 104);
  color: rgb(125, 171, 211);
}
th {
  position: sticky;
  top: 0px;
}
